@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Play", sans-serif;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
}

::-moz-selection {
  background: #ff7474;
}

::selection {
  background: #ff7474;
}

.btn {
  padding: 0.5em 2em;
  text-transform: uppercase;
  background: orangered;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
}

footer {
  color: lightgray;
  margin-bottom: 40px;
}

#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#splashScreen p {
  font-size: 1.4vw;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.dolly-layer .square {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.easy .control-panel {
  width: 35%;
  top: -10%;
  left: 0%;
  position: relative;
  transform: translate3d(0%, 0%, 250px);
}

.examples .example {
  /* width: 30%;
  height: 30vh; */
  /* margin: 0 2% 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* background-color: red; */
  /* border: 8px dashed #ff7474; */
}

@media (max-width: 991px) {
  .examples .examplse-wrap .example {
    width: 100%;
    padding: 15px 10px;
    height: auto;
    margin: 0 0 2%;
  }
}

.examples .examplse-wrap .example.more {
  width: 94%;
}

.examples footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.examples footer p {
  color: #000;
  font-size: 14px;
}

@media (max-width: 778px) {
  .examples footer p {
    font-size: 16px;
  }
}

.examples footer p a {
  color: #ff7474;
  text-decoration: none;
}

.dolly-container {
  position: fixed;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.dolly-container .dolly-wrap {
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  will-change: transform;
}

.dolly-container .dolly-layer {
  position: absolute;
  transform-style: preserve-3d;
  flex-direction: column;
  overflow: visible;
}

.dolly-container .dolly-layer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(./png/scene1/bk-1.jpg);
  background-size: 105%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -170px;
  scroll-behavior: smooth;
}

@media (max-width: 991px) {
  body {
    background-size: cover;
  }
}

#dolly-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 100px;
}

.img-cover {
  transform: translate(-0.266667px, -7.8px);
  width: 108%;
  height: 102%;
  top: 40px;
  position: absolute;
  object-fit: contain;
  max-width: 120%;
}
.symbol {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.easy .square {
  position: absolute;
  transform: translate3d(0%, 43%, 200px);
}

.square.complete .code-wrap {
  /* background-color: purple; */
  position: absolute;
  width: fit-content;
  max-width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate3d(100%, 0%, 500px);
}
.custom .frame {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 4500px);
  height: 100%;
  width: 100%;
}
.square.complete .contents {
  width: 100%;
  height: 100%;
  transform: translate3d(0%, 0%, 0px);
  position: absolute;
}
.square {
  transform-style: preserve-3d;
  position: relative;
}

.dolly-layer .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32%;
  height: 25%;
  transform: translate3d(-60%, -60%, 1200px);
  z-index: -1;
}
.frame.frame0 {
  transform: translate3d(77%, 20%, 233px);
  height: fit-content;
  width: 15%;
}
.frame.frame1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(25%, -0%, 850px);
  /* background-color: #000; */
  width: fit-content;
  /* height: 25%; */
}
.frame.frame1 .blue-paralax {
  height: fit-content;
  width: 35%;
  /* background-color: red; */
}

.frame.frame2 {
  position: absolute;
  top: -19%;
  left: 11%;
  transform: translate3d(-50%, -50%, 1246px);
  z-index: -1;
  width: 15%;
  height: 27%;
}
.green-paralax {
  width: 100%;
  height: 100%;
}
/* .symbol-center {
  display: none;
} */
.symbol-center {
  width: 110%;
  height: 110%;
  object-fit: contain;
  transform: translatex(-10vw) translateY(-7vh);
}

.symbol.yellow {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 123;
  transform: rotate(54deg) skew(17deg, 345deg);
}
.symbol.blue {
  transform: rotate(345deg) skew(14deg, 350deg);
}
.symbol.green {
  transform: rotate(10deg);
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.title.scene2 {
  filter: drop-shadow(1px 2px 2px black);
  /* color: orangered; */
  position: absolute;
  font-size: 5vw;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 620px);
  z-index: 2;
}

.easy .code-wrap {
  width: 230%;
}
.symbol.cloud {
  top: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translatez(800px);
  top: 8%;
  left: -2%;
}
/* .test-text {
  position: absolute;
  z-index: 24124;
  font-size: 3em !important;
  top: 50%;
  left: 50%;
  transform: translate(-350%, -261%) !important;

} */
.front-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  /* font-size: 1em; */
  text-transform: uppercase;
  filter: drop-shadow(2px 2px 2px black);
}
.front-title p {
  font-size: 0.4em;
  margin-top: 0.7em;
}
.first-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  /* margin-bottom: -0.5em; */
}
.front-title .title-img {
  width: 10%;
  object-fit: contain;
}

.first-title span:nth-child(1) {
  vertical-align: middle;
  transform: translateY(13.6px);
}
.title-s2 {
  opacity: 0;
  transition: opacity 0.2s ease;
  margin-bottom: -0.6em;
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1;
}

.example {
  opacity: 0;
}
.title-s2,
.title-s3 {
  text-align: center;
  color: #fff;
  filter: drop-shadow(2px 2px 2px black);
}

.front-title div:nth-child(2) {
  margin-top: -0.6em;
  font-size: 0.8em;
}

.example h2 {
  font-size: 5em;
  text-transform: uppercase;
  color: #fff;
  filter: drop-shadow(2px 2px 2px black);
}

.zeus-wrap {
  width: 100%;
  height: 100%;
  animation: slowMove 30s linear alternate infinite;
}

@keyframes slowMove {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  100% {
    transform: translate3d(3%, 4%, 100px) rotate(3deg);
  }
}

@media (max-width: 991px) {
  .img-cover {
    width: 185%;
    height: 150%;
    top: 26px;
    left: -18px;
    position: absolute;
    object-fit: contain;
    /* background: red; */
    max-width: 200%;
  }
}

/*********SCENE 2*************/
/*********SCENE 2*************/
/*********SCENE 2*************/
/*********SCENE 2*************/

.layer {
  position: absolute;
  bottom: 0;
}

.dolly-part2 .layer .img-front {
  max-width: 107%;
  position: relative;
  left: -4%;
  bottom: -3px;
}
.elements {
  height: 35%;
}
.c_ img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#scene1 .c_heart {
  position: absolute;
  bottom: 12%;
  left: 30%;
  transform: translate3d(0%, 0%, 800px);
}

#scene1 .c_start {
  transform: translate3d(150%, -90%, 430px);
  height: 20%;
}
#scene1 .heart {
  width: 80% !important;
  height: 80% !important;
}
.elements {
  transform-style: preserve-3d;
}

#scene2 .layer {
  width: 215%;
  bottom: -4%;
  left: -53%;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
#scene2 .elements {
  width: 100%;
  height: 100%;
  position: relative;
}
#scene2 .c_ {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
}
#scene2 .c_redB {
  width: 30%;
  left: 0;
  top: 0;
  transform: translate3d(-33%, -50%, 1150px);
  height: 30%;
}

#scene2 .c_purpleB {
  width: 60%;
  transform: translate3d(80%, -150%, -800px);
  height: 25%;
  left: 0;
  top: 0;
}
#scene2 .c_space {
  width: 50%;
  transform: translate3d(-75%, -50%, 545px) rotate(-5deg);
  z-index: 2;
  height: 50%;
  top: 50%;
}

#scene3 .layer {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#scene3 .layer img,
#scene4 .layer img {
  width: 30%;
  height: 30%;
  object-fit: contain;
}

#scene4 .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blue; */
  width: 100%;
  height: 100%;
}

/*********end SCENE 2*************/
/*********end SCENE 2*************/
/*********end SCENE 2*************/
/*********end SCENE 2*************/
/*********end SCENE 2*************/

/*********SCENE 3*************/
/*********SCENE 3*************/
/*********SCENE 3*************/
/*********SCENE 3*************/

#p3scene1 .layer {
  display: flex;
  justify-content: end;
  position: absolute;
  left: -14%;
}
#p3scene1 .layer img {
  width: 37%;
  height: 35%;
}
#p3scene2 .layer.boy {
  bottom: -40%;
  left: 3%;
}

#p3scene2 .front-scene {
  width: 210%;
  /* height: 140%; */
  display: flex;
  bottom: -53%;
}
#p3scene2 .front-scene img {
  width: 100%;
  position: relative;
  left: -1%;
}
#p3scene3 .layer {
  bottom: 0%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p3scene3 .logo {
  width: 70%;
  height: 50%;
  object-fit: contain;
}
#p3scene4 .layer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: unset;
}
.c_boy img {
  width: 70%;
  height: 70%;
}
/*********end SCENE 2*************/
/*********end SCENE 2*************/
/*********end SCENE 2*************/
/*********end SCENE 2*************/
/*********end SCENE 2*************/

#dolly_second,
#dolly_third {
  display: none;
}

/*********extra layers PART 1*************/

#easy .extra-elems {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: absolute;
}
#easy .c_ {
  width: 100%;
  position: relative;
  height: 25%;
  left: 50%;
  top: 50%;
}
#easy .c_.mov {
  transform: translate3d(-10%, -200%, -1950px);
}

#easy .c_.cupa {
  transform: translate3d(-73%, 20%, 539px);
}

#easy .c_.clepsidra {
  transform: translate3d(-110%, 120%, -5353px);
}

/*********END extra layers PART 1*************/

/*********extra layers PART 2*************/
#scene4 .layer img {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}
#scene3 .layer,
#scene4 .layer {
  position: absolute;
}
#scene3 .layer:nth-child(1) {
  transform: translate3d(0%, 0%, 430px);
}

#scene3 .layer:nth-child(2) {
  transform: translate3d(30%, 21%, -2157px);
}

#scene4 .layer:nth-child(1) {
  transform: translate3d(0%, -0%, 0px);
}

#scene4 .layer:nth-child(2) {
  transform: translate3d(80%, 70%, 0px);
}
#scene4 .layer:nth-child(3) {
  transform: translate3d(-160%, -160%, -4900px);
}

/*********END extra layers PART 1*************/
