*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #ff7474;
}

::selection {
  background: #ff7474;
}

.text-small {
  font-size: 18px;
}

.text-medium {
  font-size: 30px;
}

@media (max-width: 991px) {
  .text-medium {
    font-size: 25px;
    line-height: 25px;
  }
}

.text-big {
  font-size: 8.5vw;
  color: #000;
}

@media (max-width: 991px) {
  .text-big {
    font-size: 10vw;
  }
}

.btn {
  padding: 5px 25px;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px;
  display: block;
}

.dolly-layer .square {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 6px dashed #000; */
}

/* .dolly-layer .square.complete:after,
.dolly-layer .square.complete:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

} */

@media (max-width: 778px) {
  .dolly-layer .square.complete:after,
  .dolly-layer .square.complete:before {
    border: 5px dashed #000;
  }
}

/* .dolly-layer .square.complete:after {
  width: 95%;
  height: 95%;
  transform: translate3d(-50%, -50%, -200px);
} */

/* @media (max-width: 778px) {
  .dolly-layer .square.complete:after {
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, -500px);
    background-color: #fff;
  }
} */

/* .dolly-layer .square.complete:before {
  width: 90%;
  height: 90%;
  transform: translate3d(-50%, -50%, -500px);

} */

@media (max-width: 778px) {
  .dolly-layer .square.complete:before {
    display: none;
  }
}

.dolly-cover .content-wrap {
  position: absolute;
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .dolly-cover .content-wrap {
    width: 70%;
  }
}

.dolly-cover .content-wrap .main-logo {
  fill: #000;
}

.dolly-cover .content-wrap .logo-wrap {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.dolly-cover .content-wrap .logo-wrap h1 {
  color: #000;
  font-size: 14vw;
  line-height: 14vw;
}

@media (max-width: 778px) {
  .dolly-cover .content-wrap .logo-wrap h1 {
    font-size: 25vw;
    line-height: 22vw;
  }
}

/* .dolly-cover .content-wrap .logo-wrap .claim {
  color: orangered;
  position: absolute;
  font-size: 2vw;
  bottom: -24px;
  right: 50%;
  transform: translate3d(50%, 0, 0);
} */

@media (max-width: 778px) {
  .dolly-cover .content-wrap .logo-wrap .claim {
    font-size: 4vw;
  }
}

.dolly-cover .content-wrap .download-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 105%, 0);
  text-align: center;
}

@media (max-width: 991px) {
  .dolly-cover .content-wrap .download-wrap {
    transform: translate3d(-50%, 140%, 0);
    width: 90%;
  }
}

.dolly-cover .content-wrap .download-wrap .version {
  color: #000;
}

@media (max-height: 650px) {
  .dolly-cover .content-wrap .download-wrap .version {
    display: none;
  }
}

@media (max-width: 778px) {
  .easy .text-big {
    padding-bottom: 50px;
  }
}

.easy .control-panel {
  width: 18%;
  top: 0%;
  left: 0%;
  position: relative;
  transform: translateZ(100px);
}

.custom .isometric-plane {
  position: absolute;
  perspective: 800px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 90%;
  height: 80vh;
  transform-style: preserve-3d;
  overflow: hidden;
}

.custom .isometric-plane .user {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px dashed #ff7474;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.custom .isometric-plane .layer-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.custom .isometric-plane .layer-wrap .layer {
  position: absolute;
  top: 0;
  left: 0;
  border: 8px dashed #ff7474;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.custom .isometric-plane .layer-wrap .layer:first-child {
  transform: translateZ(-200px);
}

.custom .isometric-plane .layer-wrap .layer:nth-child(2) {
  transform: translateZ(-500px);
}

.custom .isometric-plane .layer-wrap .layer:nth-child(3) {
  transform: translateZ(-800px);
  /* background-color: #fff; */
}

.custom .isometric-plane .layer-wrap.regular {
  -webkit-animation: regular 5s ease infinite;
  animation: regular 5s ease infinite;
}

@keyframes regular {
  0% {
    transform: translateZ(0);
  }

  50% {
    transform: translateZ(800px);
  }

  55% {
    transform: translateZ(800px);
  }

  to {
    transform: translateZ(0);
  }
}

.examples .text-medium {
  color: #000;
}

.examples .examplse-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 70vh;
}

@media (max-width: 991px) {
  .examples .examplse-wrap {
    flex-direction: column;
  }
}

.examples .examplse-wrap .example {
  width: 30%;
  height: 30vh;
  margin: 0 2% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 8px dashed #ff7474; */
}

@media (max-width: 991px) {
  .examples .examplse-wrap .example {
    width: 100%;
    padding: 15px 10px;
    height: auto;
    margin: 0 0 2%;
  }
}

.examples .examplse-wrap .example.more {
  width: 94%;
}

.examples footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.examples footer p {
  color: #000;
  font-size: 14px;
}

@media (max-width: 778px) {
  .examples footer p {
    font-size: 16px;
  }
}

.examples footer p a {
  color: #ff7474;
  text-decoration: none;
}

.dolly-container {
  position: fixed;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.dolly-container .dolly-wrap {
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  will-change: transform;
}

.dolly-container .dolly-layer {
  position: absolute;
  transform-style: preserve-3d;
  flex-direction: column;
  overflow: visible;
}

.dolly-container .dolly-layer,
.dolly-navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dolly-navigation ul li {
  display: inline-block;
}

.dolly-navigation ul li .dolly-anchor {
  cursor: pointer;
}

body {
  background-image: url(./png/scene2/bk.jpg);
  background-size: 105%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
  scroll-behavior: smooth;
}
/*# sourceMappingURL=03_dolly.css.map */
#dolly-cover {
  /* background-image: url(./png/scene1/front-3.png); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 0 100px;
}
.img-cover {
  bottom: 0;
  position: absolute;
}
.symbol {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.easy .square {
  position: absolute;
  transform: translate3d(0%, 43%, -100px);
}

.square.complete .code-wrap {
  /* background-color: purple; */
  position: absolute;
  width: fit-content;
  max-width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate3d(100%, 0%, 500px);
}
.custom .frame {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 4500px);
  height: 100%;
  width: 100%;
}
.square.complete .contents {
  width: 100%;
  height: 100%;
  transform: translate3d(0%, 0%, 0px);
  position: absolute;
}
.square {
  transform-style: preserve-3d;
  position: relative;
}

.dolly-layer .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32%;
  height: 25%;
  transform: translate3d(-60%, -60%, 1200px);
  z-index: -1;
}
.frame.frame0 {
  transform: translate3d(77%, 20%, 233px);
  height: fit-content;
  width: 15%;
}
.frame.frame1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(25%, -0%, 850px);
  /* background-color: #000; */
  width: fit-content;
  /* height: 25%; */
}
.frame.frame1 .blue-paralax {
  height: fit-content;
  width: 35%;
  /* background-color: red; */
}

.frame.frame2 {
  position: absolute;
  top: -19%;
  left: 8%;
  transform: translate3d(-50%, -50%, 1246px);
  z-index: -1;
  width: 15%;
  height: 27%;
}
.green-paralax {
  width: 100%;
  height: 100%;
}
/* .symbol-center {
  display: none;
} */
.symbol-center {
  width: 110%;
  height: 110%;
  object-fit: contain;
  transform: translatex(-10vw) translateY(-7vh);
}

.symbol.yellow {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 123;
  transform: rotate(54deg) skew(17deg, 345deg);
}
.symbol.blue {
  transform: rotate(345deg) skew(14deg, 350deg);
}
.symbol.green {
  transform: rotate(10deg);
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.title.scene2 {
  filter: drop-shadow(1px 2px 2px black);
  color: orangered;
  position: absolute;
  font-size: 5vw;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 620px);
  z-index: 2;
}

.easy .code-wrap {
  /* transform: translateZ(1000px); */
  width: 230%;
  /* background-color: red; */
  /* height: 40%; */
}
.symbol.cloud {
  top: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 1em 2em;
  width: 100%;
  background: orangered;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
}
.example {
  border: unset !important;
  border-radius: 10px;
  padding: 20px;
  width: 80vh !important;
  height: 50vh !important;
  margin: 0 !important;
}
.example div {
  width: 30%;
  height: 30%;
}
.example div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 0.7em;
}
.examplse-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  color: lightgray;
  margin-bottom: 40px;
}

.front-title {
  font-family: sans;
  font-weight: 2em;
  position: absolute;
  z-index: 2;
  transform: translate3d(0%, 0%, 1220px);
}
